/*
<div class="container">
    <div *ngFor="let wycieczka of paginowaneWycieczki" class="wycieczka"
        [ngClass]="{
            'najtansza-wycieczka': wycieczka.cena === najnizszaCena,
            'najdrozsza-wycieczka': wycieczka.cena === najwyzszaCena
    }">
        <p class="nazwa-wycieczki">{{ wycieczka.nazwa | uppercase }}</p>
        <img [src]="'assets/pogladowe/' + wycieczka.zdjecie[0]" alt="Zdjęcie" class="img-wycieczka">
        <p class="kraj-wycieczki">{{ wycieczka.kraj | uppercase }}</p>
        <div class="info">
            <p class="data-wycieczki">Data: od {{ wycieczka.dataRozpoczecia }} do {{ wycieczka.dataZakonczenia }}</p>
            <p class="cena-wycieczki">Cena:
                {{ currencyService.przeliczCene(wycieczka.cena) | number : '1.0-2' }} {{ currencyService.pobierzSymbolWaluty() }}
            </p>
            <p class="ilosc-miejsc-wycieczki"
                [ngClass]="{'malo-miejsc': getDostepneMiejsca(wycieczka) <= 3 && getDostepneMiejsca(wycieczka) > 0}">
                Ilość dostępnych miejsc: {{ getDostepneMiejsca(wycieczka) }} z ({{ wycieczka.maxMiejsca }})
            </p>
            <p class="brak-miejsc" *ngIf="getDostepneMiejsca(wycieczka) === 0">Brak dostępnych miejsc!</p>
            <div class="dodaj-usun">
                <button (click)="dodajDoKoszyka(wycieczka)" *ngIf="getDostepneMiejsca(wycieczka) > 0">+</button>
                <button (click)="usunZKoszyka(wycieczka)" *ngIf="getDostepneMiejsca(wycieczka) < wycieczka.dostepneMiejsca">-</button>
            </div>
        </div>
        <p class="opis-wycieczki">{{ wycieczka.opisk }}</p>
        <button id="pds" (click)="przejdzDoSzczegolow(wycieczka)">Szczegóły</button>
        <button id="usun" (click)="usunWycieczke(wycieczka.id)">Usuń</button>
    </div>
</div>
<div class="paginacja">
    <button *ngFor="let strona of pages" 
        (click)="zmienStrone(strona)" 
        [class.active-page]="strona + 1 === aktualnaStrona">
        {{ strona + 1 }}
    </button>
</div>
*/

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wycieczka {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: auto;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}

.info {
    text-align: left;
    font-size: 13px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    line-height: 0.5;
}

.nazwa-wycieczki {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: none;
}

.img-wycieczka {
    width: 130px;
    height: auto;
    border-radius: 50%;
}

.kraj-wycieczki {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.opis-wycieczki {
    font-size: 12px;
}

.brak-miejsc {
    color: red;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.malo-miejsc {
    color: orange;
}

.najtansza-wycieczka {
    border: 2px solid red;
}
    
.najdrozsza-wycieczka {
    border: 2px solid green;
}

.cena {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dodanie-wycieczki {
    text-align: right; 
    margin: 10px;
}

button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}

.ocena {
    font-size: 15px;
}

.paginacja {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.kraj-wycieczki {
    margin-top: 10px;
    margin-bottom: 0;
}

.active-page {
    color: red;
}


.paginacja button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    cursor: pointer;
}

.paginacja button:hover {
    background-color: #e0e0e0;
}

#usun {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 2px 5px;
    color: red;
    cursor: pointer;
}

.dodaj-usun {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}