<div class="niepuste" *ngIf="historia.length > 0">
    <p id="historia">Historia zamówień</p>
    <div class="sortowanie">
        <p id="sortuj">Sortuj według statusu:</p>
        <select (change)="sortuj($event)">
            <option value="przed">Przed</option>
            <option value="w trakcie">W Trakcie</option>
            <option value="zakończona">Zakończona</option>
        </select>
    </div>
    <ul>
      <li *ngFor="let zamowienie of historia; let i = index">
        Numer zamówienia: {{ zamowienie.numerZamowienia }} - {{ zamowienie.wycieczka.nazwa }} - Ilość: {{ zamowienie.ilosc }}, Data zakupu: {{ zamowienie.dataZakupu | date }}, Status: {{ zamowienie.status }}
      </li>
    </ul>
</div>
<div class="puste" *ngIf="historia.length === 0">
    <p id="i1">Brak historii zamówień</p>
    <p id="i2">Przejdź do zakładki "Wycieczki" i rozejrzyj się za czymś dla siebie!</p>
</div>